extends ../layout

block content
  .container
    h1.page-header 숙소 등록 수정
    form(action='/posts/#{post._id}?_method=PUT', method='POST')
      .form-group
        label(for='title') Title
        input.form-control(type='text', id='title', name='title', placeholder='숙소 이름을 입력하세요', value=post.title)
      .form-group
        label(for='title') City
        input.form-control(type='text', id='city', name='city', placeholder='도시를 입력하세요', value=post.city)
      .form-group
        label(for='address') Address
        input.form-control(type='text', id='address', name='address', placeholder='숙소 주소를 입력하세요', value=post.address)
       .form-group
        label(for='price') Price
        input.form-control(type='text', id='price', name='price', placeholder='숙소 요금을 입력하세요', value=post.price)
       .form-group
        label(for='rule') Rule
        input.form-control(type='text', id='rule', name='rule', placeholder='이용 규칙을 입력하세요', value=post.rule)
      .form-group
        label(for='content') Content
        input.form-control(type='text', id='content', name='content', placeholder='설명을 입력하세요', value=post.content)
      div.form-actions
        a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
        | 
        button.btn.btn-primary(type='submit') 수정
