extends ../layout

block content
  .container
    h1.page-header 숙소 정보
          
    ul
      li 숙소 이름: #{post.title}
      li 도시: #{post.city}
      li 주소: #{post.address}
      li 요금: #{post.price}
      li 이용 규칙 : #{post.rule}
      li 설명: #{post.content}

    hr
    p
     if(currentUser)
        if(currentUser._id.toString()==post.owner._id.toString())
          a.btn.btn-default(href='/posts/#{post._id}/edit') 게시글 수정
          | 
          a.btn.btn-default(href='/posts/#{post._id}?_method=DELETE') 게시글 삭제
        else
          a.btn.btn-default(href='/posts/') 숙소 목록